
<div class="titles pt-5">
    <h3>Horizen Academy</h3>
    <p>Blockchain Technology <span>•</span> Online Privacy <span>•</span> Horizen Platform</p>
</div>

<div class="line"></div>

<div class="post-content">
    <p>
        We have created the academy for the central purpose of sharing our knowledge and passion for blockchain technology and crytocurrency with everyone regardless of their skill level on these subjects.
        Through education, Horizen is able to make radical usability and widespread adoption of these technologies a reality. We designed each article to help you develop a better understanding of the blockchain space regardless of your technical sill level.
        Begin exploring our educational articles now!
    </p>

    <hr class="mt-5 mb-5">

    <div class="section-how-it-works">
        <div class="row">
            <div class="col-md-6">
                <h3>How it works</h3>
                <p>
                    The navigation on the left hand side will help you to toggle between levels and find the content that is just right for you.
                    The higher the level, the more detailed each part of the blockchain is explained and the more articles you will find in each chapter as we introduce more advanced concepts.
                </p>
                <p>
                    Select a topic and your skill level to start reading!
                </p>
            </div>
            <div class="col-md-6 steps">
                <div class="row">
                    <div class="offset-3 col-6 mb-4 offset-md-0 col-md-4 mb-md-0">
                        <img src="/assets/post_files/home/1.svg" alt="" class="w-100">
                        <h5>Choose a topic</h5>
                    </div>
                    <div class="offset-3 col-6 mb-4 offset-md-0 col-md-4 mb-md-0">
                        <img src="/assets/post_files/home/2.svg" alt="" class="w-100">
                        <h5>Select your skill level</h5>
                    </div>
                    <div class="offset-3 col-6 mb-4 offset-md-0 col-md-4 mb-md-0">
                        <img src="/assets/post_files/home/3.svg" alt="" class="w-100">
                        <h5>Read and learn</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="mt-5 mb-5">

    <div class="section-video">
        <h3>
            Videos
            <a href="https://www.youtube.com/channel/UCQ0v_lUnZHIKUQUXJzfgqOg" target="_blank" rel="noopener">See all videos</a>
        </h3>
        <div class="row">
            <div class="col-md-4 mb-4">
                {% include blocks/youtube.html v="4C8KC-h2KfE" %}
                <h4>Blockchain and Crytocurrency - Entry Level</h4>
            </div>
            <div class="col-md-4 mb-4">
                {% include blocks/youtube.html v="vH7gySKShps" %}
                <h4>Horizen Sidechains - Sidechain SDK Alpha Demo</h4>
            </div>
            <div class="col-md-4 mb-4">
                {% include blocks/youtube.html v="8Iiefz_vcCI" %}
                <h4>Horizen Sidechains - The Cross-Chain Transfer Protocol</h4>
            </div>
        </div>
    </div>

</div>

