<div class="article-nav">
    <div class="levels">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a href="#" class="js-SelectLevel" data-level="beginner">
                    <div class="level beginner">
                        <div class="icon">
                            <img src="/assets/img/icons/levels/beginner-1.svg" alt="Beginner" class="icon-inactive">
                            <img src="/assets/img/icons/levels/beginner-2.svg" alt="Beginner" class="icon-active">
                        </div>
                        <div class="level-name">Beginner</div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="js-SelectLevel" data-level="intermediate">
                    <div class="level intermediate">
                        <div class="icon">
                            <img src="/assets/img/icons/levels/intermediate-1.svg" alt="Intermediate" class="icon-inactive">
                            <img src="/assets/img/icons/levels/intermediate-2.svg" alt="Intermediate" class="icon-active">
                        </div>
                        <div class="level-name">Intermediate</div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="js-SelectLevel" data-level="advanced">
                    <div class="level advanced">
                        <div class="icon">
                            <img src="/assets/img/icons/levels/advanced-1.svg" alt="Advanced" class="icon-inactive">
                            <img src="/assets/img/icons/levels/advanced-2.svg" alt="Advanced" class="icon-active">
                        </div>
                        <div class="level-name">Advanced</div>
                    </div>
                </a>
            </div>
        </div>
        <hr/>
    </div>

    <div class="topics">
        <div class="row no-gutters">
            <div class="col-md-6">
                <a href="#" class="js-SelectTopic" data-topic="history">
                    <div class="topic history">
                        <div class="icon">
                            <img src="/assets/img/icons/categories/history-1.svg" alt="History" class="icon-inactive">
                            <img src="/assets/img/icons/categories/history-2.svg" alt="History" class="icon-active">
                        </div>
                        <span class="topic-name">History</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="#" class="js-SelectTopic" data-topic="technology">
                    <div class="topic technology">
                        <div class="icon">
                            <img src="/assets/img/icons/categories/technology-1.svg" alt="Technology" class="icon-inactive">
                            <img src="/assets/img/icons/categories/technology-2.svg" alt="Technology" class="icon-active">
                        </div>
                        <span class="topic-name">Technology</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="#" class="js-SelectTopic" data-topic="privacy">
                    <div class="topic privacy">
                        <div class="icon">
                            <img src="/assets/img/icons/categories/privacy-1.svg" alt="Privacy" class="icon-inactive">
                            <img src="/assets/img/icons/categories/privacy-2.svg" alt="Privacy" class="icon-active">
                        </div>
                        <span class="topic-name">Privacy</span>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="#" class="js-SelectTopic" data-topic="horizen">
                    <div class="topic horizen">
                        <div class="icon">
                            <img src="/assets/img/icons/categories/horizen-1.svg" alt="Horizen" class="icon-inactive">
                            <img src="/assets/img/icons/categories/horizen-2.svg" alt="Horizen" class="icon-active">
                        </div>
                        <span class="topic-name">Horizen</span>
                    </div>
                </a>
            </div>
        </div>
        <hr/>
    </div>

    <div class="articles" id="list-articles">

        <div class="d-none">
            <div>
                {% assign current_level = "" %}
                {% assign current_topic = "" %}
                {% assign current_chapter = "" %}

                {% for post in site.posts reversed %}

                {% if current_chapter != post.chapter or current_topic != post.topic or current_level != post.level %}
                {% assign current_level = post.level %}
                {% assign current_topic = post.topic %}
                {% assign current_chapter = post.chapter %}
            </div>
        </div>

        {% capture chapter_index %}{% increment chapter_counter %}{% endcapture %}
        <div class="topic-articles level-{{current_level}} topic-{{current_topic}}">
            <a href="#collapse{{ chapter_index }}" data-toggle="collapse" class="chapter">{{current_chapter }}</a>

            <div id="collapse{{ chapter_index }}" class="collapse chapter-articles" data-parent="#list-articles">
                {% endif %}

                <a href="{{ post.url }}">{{ post.title }}</a>
                {% endfor %}

            </div>
        </div>

    </div>
</div>
