<footer class="site-footer-wrapper">
    <div class="footer-subscribe site-wrapper">
        <div class="container-fluid">
            <form action="https://zencash.us15.list-manage.com/subscribe/post?u=a2e6f8a8a8a21683874d560ea&id=281e1f8cee" method="post" id="mc-footer-subscribe-form">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <input name="MERGE1" type="text" class="form-control" placeholder="{% t newsletter.name %}">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <input name="MERGE0" type="email" class="form-control" placeholder="{% t newsletter.email %}">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <select name="MERGE6" class="form-control js-Select2" data-placeholder="{% t newsletter.country %} ({% t newsletter.optional %})">
                                <option></option>
                                {% for country in site.data.countryNames %}
                                <option value="{{country[1]}}">{{country[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <button class="btn btn-info btn-block text-uppercase" type="submit">{% t newsletter.subscribe %}</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="b_a2e6f8a8a8a21683874d560ea_281e1f8cee" tabindex="-1" value="">
            </form>

            <div class="text-white">
                <p class="email-fail" style="display: none;">
                    Your browser blocked the form submit. You can <a href="https://zencash.us15.list-manage.com/subscribe?u=a2e6f8a8a8a21683874d560ea&id=281e1f8cee" target="_blank">sign up here instead</a>.
                </p>
                <p class="email-success" style="display: none;">
                    {% t newsletter.msg-success %}
                </p>
                <p class="email-feedback"></p>
            </div>

        </div>
    </div>

    <div class="site-footer text-center site-wrapper">
        <div class="container-fluid">
            <p class="copyright">© 2022 Horizen. {% t footer.copyright %}.</p>
            <p class="links">
                <a href="https://www.horizen.io/terms/">{% t footer.legal %}</a>
                |
                <a href="https://www.horizen.io/privacy/">{% t footer.privacy-policy %}</a>
            </p>
        </div>
    </div>
</footer>
