<div class="further-reading">
    <a href="{{ include.url }}" target="_blank">
        <div class="row no-gutters">
            <div class="col-12 col-md-9">
                <div class="p-3">
                    <h4 class="title">{{ include.title }}</h4>
                    <div class="author">― {{ include.author }}</div>
                    <div class="summary">{{ include.summary }}</div>
                    <div class="link">{{ include.url }}</div>
                </div>
            </div>
            {% capture default_further_reading_img %}{{site.baseurl_root}}/assets/img/icons/further-reading.jpg{% endcapture %}
            <div class="d-none d-md-block col-md-3 preview-img" style="background-image: url({{ include.image | default: default_further_reading_img }})"></div>
        </div>
    </a>
</div>
