
<nav class="navbar navbar-expand-lg fixed-top site-nav">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" id="mobile-left-menu-toggler">
            <img src="/assets/img/icons/menu/burger-white.svg" alt="" class="icon-white">
            <img src="/assets/img/icons/menu/burger-blue.svg" alt="" class="icon-blue">
        </button>
        <a class="navbar-brand" href="{% tl homepage %}">
            <img src="/assets/img/Logo-beta.svg" alt="" id="header-logo">
        </a>
        <a href="https://www.horizen.global" class="navbar-toggler">
            <img src="/assets/img/icons/menu/home-white.svg" alt="" class="icon-white">
        </a>

        <div class="collapse navbar-collapse" id="header-navbars">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.horizen.global" target="_blank">{% t nav.home %}</a>
                </li>
                <li class="nav-item dropdown" id="built-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="built-nav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% t nav.built %}</a>
                    <div class="dropdown-menu" aria-labelledby="built-nav">
                        <a class="dropdown-item" href="https://www.horizen.global/zen/" target="_blank">ZEN</a>
                        <a class="dropdown-item" href="https://www.horizen.global/zenchat/" target="_blank">ZenChat</a>
                        <a class="dropdown-item" href="https://www.horizen.global/zendao/" target="_blank">ZenDAO</a>
                        <a class="dropdown-item" href="https://www.horizen.global/zennodes/" target="_blank">ZenNodes</a>
                        <a class="dropdown-item" href="https://www.horizen.global/spherebyhorizen/" target="_blank">Sphere by Horizen</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.horizen.global/exchanges/" target="_blank">{% t nav.get-zen %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.horizen.global/wallets/" target="_blank">{% t nav.use-zen %}</a>
                </li>
                <li class="nav-item dropdown" id="earn-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="earn-nav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% t nav.earn-zen %}</a>
                    <div class="dropdown-menu" aria-labelledby="earn-nav">
                        <a class="dropdown-item" href="https://www.horizen.global/mining-pools/" target="_blank">{% t nav.mine-zen %}</a>
                        <a class="dropdown-item" href="https://www.horizen.global/securenodes/" target="_blank">{% t nav.secure-nodes %}</a>
                        <a class="dropdown-item" href="https://www.horizen.global/supernodes/" target="_blank">{% t nav.super-nodes %}</a>
                        <a class="dropdown-item" href="https://getzen.cash/" target="_blank">{% t nav.faucet %}</a>
                        <a class="dropdown-item" href="https://forum.horizen.global/" target="_blank">{% t nav.forum %}</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="community" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% t nav.community %}</a>
                    <div class="dropdown-menu" aria-labelledby="community">
                        <a class="dropdown-item" href="https://twitter.com/horizenglobal" target="_blank">Twitter</a>
                        <a class="dropdown-item" href="https://horizen.global/invite/discord" target="_blank">Discord</a>
                        <a class="dropdown-item" href="https://horizen.global/invite/telegram" target="_blank">Telegram</a>
                        <a class="dropdown-item" href="https://www.reddit.com/r/Horizen/" target="_blank">Reddit</a>
                        <a class="dropdown-item" href="https://bitcointalk.org/index.php?topic=2047435.0" target="_blank">Bitcointalk</a>
                        <a class="dropdown-item" href="https://forum.horizen.global/" target="_blank">Forum</a>
                        <a class="dropdown-item" href="https://github.com/ZencashOfficial" target="_blank">GitHub</a>
                        <a class="dropdown-item" href="https://blog.horizen.global/" target="_blank">Blog</a>
                        <a class="dropdown-item" href="https://store.horizen.global/" target="_blank">Store</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% tl homepage %}">{% t nav.academy %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link toggle-languages text-uppercase" href="#">{{ site.lang }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
