<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- SEO -->
  <title>{% if page.title contains 'titles.' %}{% t page.title %}{% elsif page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}</title>
  <meta property="og:title" content="{% if page.title contains 'titles.' %}{% t page.title %}{% elsif page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}">
  <meta name="twitter:title" content="{% if page.title contains 'titles.' %}{% t page.title %}{% elsif page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}">
  {% if page.description contains 'descriptions.' %}
  <meta name="description" content="{% t page.description %}">
  <meta property="og:description" content="{% t page.description %}">
  <meta name="twitter:description" content="{% t page.description %}">
  {% elsif page.description != '' %}
  <meta name="description" content="{{ page.description }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
  <meta name="description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}
  {% if page.keywords contains 'keywords.' %}
  <meta name="keywords" content="{% t page.keywords %}">
  {% elsif page.keywords != '' %}
  <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}
  {% if page.no_index %}
    <meta name="robots" content="follow, noindex"/>
  {% endif %}
  {% if page.canonical_link %}
    <link rel="canonical" href="{{site.url}}{{site.baseurl_root}}{{page.canonical_link}}">
    <meta property="og:url" content="{{site.url}}{{site.baseurl_root}}{{page.canonical_link}}">
  {% else %}
    {% if site.lang == 'en' %}
    <link rel="canonical" href="{{site.url}}{{site.baseurl_root}}{{page.url}}">
    <meta property="og:url" content="{{site.url}}{{site.baseurl_root}}{{page.url}}">
    {% else %}
    <link rel="canonical" href="{{site.url}}{{site.baseurl_root}}/{{site.lang}}{{page.url}}">
    <meta property="og:url" content="{{site.url}}{{site.baseurl_root}}/{{site.lang}}{{page.url}}">
    {% endif %}
  {% endif %}
  {% if page.image %}
    <meta property="og:image" content="{{site.url}}{{site.baseurl_root}}/{{page.image}}" />
    <meta name="twitter:image" content="{{site.url}}{{site.baseurl_root}}/{{page.image}}" />
    <meta name="twitter:card" content="summary_large_image" />
  {% endif %}
  
  {% unless page.no_alternate %}
    {% for language in site.languages %}
    {% if language == 'en' %}
    <link rel="alternate" href="{{site.url}}{{site.baseurl_root}}{{page.url}}" hreflang="{{language}}" />
    {% else %}
    <link rel="alternate" href="{{site.url}}{{site.baseurl_root}}/{{language}}{{page.url}}" hreflang="{% if language == 'jp' %}ja{% else %}{{language}}{% endif %}" />
    {% endif %}
    {% endfor %}
  {% endunless%}
  <meta property="og:site_name" content="{{ site.title }}">
  <meta name="twitter:card" content="summary" />
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Corporation",
    "name": "Horizen",
    "alternateName": "Horizen Global",
    "url": "{{site.url}}{{site.baseurl_root}}",
    "logo": "{{site.logo}}",
    "sameAs": [
      "{{site.links.facebook}}",
      "{{site.links.twitter}}",
      "{{site.links.youtube}}",
      "{{site.links.linkedin}}",
      "{{site.links.github}}"
    ]
  }
  </script>

  <meta id="algolia-data" data-app-id="{{ site.algolia.application_id }}" data-api-key="{{ site.algolia.search_only_api_key }}" data-index-name="{{ site.algolia.index_name }}">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="16x16" href="{{ "/assets/favicon/favicon_16x16.png" | prepend: site.baseurl_root }}" />
  <link rel="apple-touch-icon-precomposed" sizes="32x32" href="{{ "/assets/favicon/favicon_32x32.png" | prepend: site.baseurl_root }}" />
  <link rel="apple-touch-icon-precomposed" sizes="48x48" href="{{ "/assets/favicon/favicon_48x48.png" | prepend: site.baseurl_root }}" />
  <link rel="apple-touch-icon-precomposed" sizes="64x64" href="{{ "/assets/favicon/favicon_64x64.png" | prepend: site.baseurl_root }}" />
  <link rel="apple-touch-icon-precomposed" sizes="128x128" href="{{ "/assets/favicon/favicon_128x128.png" | prepend: site.baseurl_root }}" />
  <link rel="apple-touch-icon-precomposed" sizes="256x256" href="{{ "/assets/favicon/favicon_256x256.png" | prepend: site.baseurl_root }}" />
  <link rel="apple-touch-icon-precomposed" sizes="512x512" href="{{ "/assets/favicon/favicon_512x512.png" | prepend: site.baseurl_root }}" />
  <link rel="apple-touch-icon-precomposed" sizes="1024x1024" href="{{ "/assets/favicon/favicon_1024x1024.png" | prepend: site.baseurl_root }}" />
  <link rel="icon" type="image/x-icon" href="{{ "/assets/favicon/favicon.ico" | prepend: site.baseurl_root }}" />
  <meta name="application-name" content="{{site.title}}"/>

  {% if site.lang == 'jp' %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  {% else %}
  <link rel="stylesheet" href="https://use.typekit.net/elr1akh.css">
  {% endif %}
  <link href="https://fonts.googleapis.com/css?family=Exo+2:300,600|Roboto:300,500" rel="stylesheet">

  <!-- Hotjar Tracking Code for www.horizen.global -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1225091,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104158206-6"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-104158206-6');
  </script>

  <!-- Autopilot -->
  <script type="text/javascript">(function(o){var b="https://rapidzebra.io/anywhere/",t="c782e53f91974697a97448648146e01baee87cc9b0a74f81ba84c7959cac01c8",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | prepend: site.baseurl_root }}?{{site.time | date: '%s%N'}}">

  {% if page.css_files %}
    {% for css_file in page.css_files %}
      <link rel="stylesheet" type="text/css" href="{{ "/assets/css/" | append: css_file | prepend: site.baseurl_root }}?{{site.time | date: '%s%N'}}">
    {% endfor %}
  {% endif %}

  {% if page.css %}
    <style>
      {{ page.css }}
    </style>
  {% endif %}

</head>
