
<nav class="navbar navbar-expand-lg fixed-top site-nav">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" id="mobile-left-menu-toggler">
            <img src="/assets/img/icons/menu/burger-white.svg" alt="" class="icon-white">
            <img src="/assets/img/icons/menu/burger-blue.svg" alt="" class="icon-blue">
        </button>
        <a class="navbar-brand" href="{% tl homepage %}">
            <img src="/assets/img/Academy-logo.png" alt="" id="header-logo">
        </a>
        <a href="https://www.horizen.global" class="navbar-toggler">
            <img src="/assets/img/icons/menu/home-white.svg" alt="" class="icon-white">
        </a>

        <div class="collapse navbar-collapse" id="header-navbars">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.horizen.io/" target="_blank">{% t nav.home %}</a>
                </li>
                <li class="nav-item dropdown" id="explore-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="explore-nav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% t nav.explore %}</a>
                    <div class="dropdown-menu" aria-labelledby="explore-nav">
                        <a class="dropdown-item" href="https://www.horizen.io/dapps/" target="_blank">{% t nav.explore_links.ecosystem %}</a>
                        <a class="dropdown-item" href="https://www.horizen.io/exchanges/" target="_blank">{% t nav.explore_links.getZen %}</a>
                        <a class="dropdown-item" href="https://www.horizen.io/wallets/" target="_blank">{% t nav.explore_links.downloadAWallet %}</a>
                        <a class="dropdown-item" href="https://www.horizen.io/mining-pools/" target="_blank">{% t nav.explore_links.mineZen %}</a>
                        <a class="dropdown-item" href="https://www.horizen.io/zennodes/" target="_blank">{% t nav.explore_links.zenNodes %}</a>
                        <a class="dropdown-item" href="https://getzen.cash/" target="_blank">{% t nav.explore_links.faucet %}</a>
                        <a class="dropdown-item" href="https://www.horizen.io/team/" target="_blank">{% t nav.explore_links.team %}</a>
                        <a class="dropdown-item" href="https://www.horizen.io/roadmap/" target="_blank">{% t nav.explore_links.roadmap %}</a>
                        <a class="dropdown-item" href="https://store.horizen.io/" target="_blank">{% t nav.explore_links.store %}</a>
                    </div>
                </li>
                <li class="nav-item dropdown" id="build-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="build-nav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% t nav.build %}</a>
                    <div class="dropdown-menu" aria-labelledby="build-nav">
                        <a class="dropdown-item" href="https://www.horizen.io/zendoo/" target="_blank">{% t nav.build_links.zendoo %}</a>
                        <a class="dropdown-item" href="https://heap.horizen.io/" target="_blank">{% t nav.build_links.testnet %}</a>
                        <a class="dropdown-item" href="https://github.com/HorizenOfficial/Sidechains-SDK/tree/dev" target="_blank">{% t nav.build_links.sdks %}</a>
                        <a class="dropdown-item" href="https://docs.horizen.io/en/latest/" target="_blank">{% t nav.build_links.documentation %}</a>
                        <a class="dropdown-item" href="https://www.horizen.io/tutorials/" target="_blank">{% t nav.build_links.tutorials %}</a>
                        <a class="dropdown-item" href="https://www.horizen.io/news/developer-community/" target="_blank">{% t nav.build_links.developer %}</a>
                    </div>
                </li>
                <li class="nav-item dropdown" id="contribute-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="contribute-nav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% t nav.contribute %}</a>
                    <div class="dropdown-menu" aria-labelledby="contribute-nav">
                        <a class="dropdown-item" href="https://www.horizen.io/zennodes/" target="_blank">{% t nav.contribute_links.zenNodes %}</a>
                        <a class="dropdown-item" href="https://hde.horizen.io/" target="_blank">{% t nav.contribute_links.bounties %}</a>
                        <a class="dropdown-item" href="https://www.horizen.io/ambassadors/" target="_blank">{% t nav.contribute_links.ambassadors %}</a>
                        <a class="dropdown-item" href="https://heap.horizen.io/" target="_blank">{% t nav.contribute_links.heap %}</a>
                    </div>
                </li>
                <li class="nav-item dropdown" id="learn-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="learn-nav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% t nav.learn %}</a>
                    <div class="dropdown-menu" aria-labelledby="learn-nav">
                        <a class="dropdown-item" href="https://www.horizen.io/news/" target="_blank">{% t nav.learn_links.news %}</a>
                        <a class="dropdown-item" href="https://www.horizen.io/what-is-horizen/" target="_blank">{% t nav.learn_links.horizen %}</a>
                        <a class="dropdown-item" href="https://academy.horizen.io/technology/beginner/intro-to-privacy-on-the-blockchain/" target="_blank">{% t nav.learn_links.zk %}</a>
                        <a class="dropdown-item" href="https://www.horizen.io/technology/" target="_blank">{% t nav.learn_links.technology %}</a>
                        <a class="dropdown-item" href="https://www.horizen.io/research/" target="_blank">{% t nav.learn_links.research %}</a>
                        <a class="dropdown-item" href="https://academy.horizen.io/" target="_blank">{% t nav.learn_links.academy %}</a>
                    </div>
                </li>
                <li class="nav-item dropdown" id="community-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="community-nav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% t nav.community %}</a>
                    <div class="dropdown-menu" aria-labelledby="community-nav">
                        <a class="dropdown-item" href="https://twitter.com/horizenglobal" target="_blank">Twitter</a>
                        <a class="dropdown-item" href="https://www.facebook.com/horizenglobal" target="_blank">Facebook</a>
                        <a class="dropdown-item" href="https://horizen.io/invite/discord" target="_blank">Discord</a>
                        <a class="dropdown-item" href="https://www.youtube.com/horizen" target="_blank">Youtube</a>
                        <a class="dropdown-item" href="https://www.linkedin.com/company/horizenofficial/" target="_blank">Linkedin</a>
                        <a class="dropdown-item" href="https://t.me/horizencommunity" target="_blank">Telegram</a>
                        <a class="dropdown-item" href="https://www.reddit.com/r/Horizen/" target="_blank">Reddit</a>
                        <a class="dropdown-item" href="https://www.instagram.com/horizenglobal/" target="_blank">Instagram</a>
                        <a class="dropdown-item" href="https://medium.com/@horizen" target="_blank">Medium</a>
                        <a class="dropdown-item" href="https://github.com/HorizenOfficial" target="_blank">GitHub</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% tl homepage %}">{% t nav.academy %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link toggle-languages text-uppercase" href="#">{{ site.lang }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
