<div class="logo">
    <a href="/">
        <img src="/assets/img/Logo-beta.svg" alt="" class="header-logo">
    </a>
</div>

<div class="article-nav" id="article-nav">
    <div class="levels">
        <div class="row no-gutters">
            <div class="col-4">
                <a href="#" class="js-SelectLevel" data-level="beginner">
                    <div class="level beginner">
                        <div class="icon">
                            <img src="/assets/img/icons/levels/beginner-1.svg" alt="Beginner" class="icon-inactive">
                            <img src="/assets/img/icons/levels/beginner-2.svg" alt="Beginner" class="icon-active">
                        </div>
                        <div class="level-name">Beginner</div>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="#" class="js-SelectLevel" data-level="advanced">
                    <div class="level advanced">
                        <div class="icon">
                            <img src="/assets/img/icons/levels/advanced-1.svg" alt="Advanced" class="icon-inactive">
                            <img src="/assets/img/icons/levels/advanced-2.svg" alt="Advanced" class="icon-active">
                        </div>
                        <div class="level-name">Advanced</div>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="#" class="js-SelectLevel" data-level="expert">
                    <div class="level expert">
                        <div class="icon">
                            <img src="/assets/img/icons/levels/expert-1.svg" alt="Expert" class="icon-inactive">
                            <img src="/assets/img/icons/levels/expert-2.svg" alt="Expert" class="icon-active">
                        </div>
                        <div class="level-name">Expert</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="topics" id="list-topics">
        <a
                href="{% post_url /technology/2022-12-30-tech %}"
                class="js-SelectTopic" data-topic="technology"
                data-url-beginner="{% post_url /technology/beginner/2020-12-31-tech-beginner %}"
                data-url-advanced="{% post_url /technology/advanced/2021-12-31-tech-advanced %}"
                data-url-expert="{% post_url /technology/expert/2022-12-31-tech-expert %}"
        >
            <div class="topic technology">
                <div class="icon">
                    <img src="/assets/img/icons/categories/technology-1.svg" alt="Technology" class="icon-inactive">
                    <img src="/assets/img/icons/categories/technology-2.svg" alt="Technology" class="icon-active">
                </div>
                <span class="topic-name">Technology</span>
            </div>
        </a>

        <a href="#list-technology-articles" data-toggle="collapse" class="d-none"></a>
        <div id="list-technology-articles" class="articles list-topic-articles collapse" data-parent="#list-topics">

            <div style="height: 12px;"></div>

            <div class="d-none">
                <div>
                    {% assign current_level = "" %}
                    {% assign current_chapter = "" %}

                    {% for post in site.posts reversed %}

                    {% if post.topic != "technology" %}
                    {% continue %}
                    {% endif %}

                    {% unless post.chapter %}
                    {% continue %}
                    {% endunless %}

                    {% if current_chapter != post.chapter or current_level != post.level %}
                    {% assign current_level = post.level %}
                    {% assign current_chapter = post.chapter %}
                </div>
            </div>

            {% capture chapter_index %}{% increment chapter_counter %}{% endcapture %}
            <div class="topic-articles level-{{current_level}}">

                <a href="#technology-chapter-{{ chapter_index }}" data-toggle="collapse" class="arrow">
                    <img src="/assets/img/icons/arrows/arrow-down-grey.svg" alt="" class="arrow-down">
                    <img src="/assets/img/icons/arrows/arrow-up-green.svg" alt="" class="arrow-up">
                </a>

                {% if post.type == "intro" %}
                <a href="{{ post.url }}" class="chapter chapter-link">{{current_chapter }}</a>
                {% else %}
                <a href="#" data-target="#technology-chapter-{{ chapter_index }}" class="chapter chapter-link chapter-collapse">{{current_chapter }}</a>
                {% endif %}

                <div id="technology-chapter-{{ chapter_index }}" class="collapse chapter-articles" data-parent="#list-technology-articles">
                    {% endif %}

                    {% if post.type == "article" %}
                    <a href="{{ post.url }}" class="article-link">{{ post.title }}</a>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>

            <div style="height: 12px;"></div>

        </div>


        <a
                href="{% post_url /privacy/beginner/2023-12-31-privacy-beginner %}"
                class="js-SelectTopic" data-topic="privacy"
                data-url-beginner="{% post_url /privacy/beginner/2023-12-31-privacy-beginner %}"
                data-url-advanced="{% post_url /privacy/advanced/2024-12-31-privacy-advanced %}"
                data-url-expert="{% post_url /privacy/expert/2025-12-31-privacy-expert %}"
        >
            <div class="topic privacy">
                <div class="icon">
                    <img src="/assets/img/icons/categories/privacy-1.svg" alt="Privacy" class="icon-inactive">
                    <img src="/assets/img/icons/categories/privacy-2.svg" alt="Privacy" class="icon-active">
                </div>
                <span class="topic-name">Privacy</span>
            </div>
        </a>
        <a href="#list-privacy-articles" data-toggle="collapse" class="d-none"></a>
        <div id="list-privacy-articles" class="articles list-topic-articles collapse" data-parent="#list-topics">

            <div style="height: 12px;"></div>

            <div class="d-none">
                <div>
                    {% assign current_level = "" %}
                    {% assign current_chapter = "" %}

                    {% for post in site.posts reversed %}

                    {% if post.topic != "privacy" %}
                    {% continue %}
                    {% endif %}

                    {% unless post.chapter %}
                    {% continue %}
                    {% endunless %}

                    {% if current_chapter != post.chapter or current_level != post.level %}
                    {% assign current_level = post.level %}
                    {% assign current_chapter = post.chapter %}
                </div>
            </div>

            {% capture chapter_index %}{% increment chapter_counter %}{% endcapture %}
            <div class="topic-articles level-{{current_level}}">

                <a href="#privacy-chapter-{{ chapter_index }}" data-toggle="collapse" class="arrow">
                    <img src="/assets/img/icons/arrows/arrow-down-grey.svg" alt="" class="arrow-down">
                    <img src="/assets/img/icons/arrows/arrow-up-green.svg" alt="" class="arrow-up">
                </a>

                {% if post.type == "intro" %}
                <a href="{{ post.url }}" class="chapter chapter-link">{{current_chapter }}</a>
                {% else %}
                <a href="#" data-target="#privacy-chapter-{{ chapter_index }}" class="chapter chapter-link chapter-collapse">{{current_chapter }}</a>
                {% endif %}

                <div id="privacy-chapter-{{ chapter_index }}" class="collapse chapter-articles" data-parent="#list-privacy-articles">
                    {% endif %}

                    {% if post.type == "article" %}
                    <a href="{{ post.url }}" class="article-link">{{ post.title }}</a>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>

            <div style="height: 12px;"></div>

        </div>




        <a
                href="{% post_url /horizen/2028-12-30-horizen %}"
                class="js-SelectTopic" data-topic="horizen"
                data-url-beginner="{% post_url /horizen/beginner/2026-12-31-horizen-beginner %}"
                data-url-advanced="{% post_url /horizen/advanced/2027-12-31-horizen-advanced %}"
                data-url-expert="{% post_url /horizen/expert/2028-12-31-horizen-expert %}"
        >
            <div class="topic horizen">
                <div class="icon">
                    <img src="/assets/img/icons/categories/horizen-1.svg" alt="Horizen" class="icon-inactive">
                    <img src="/assets/img/icons/categories/horizen-2.svg" alt="Horizen" class="icon-active">
                </div>
                <span class="topic-name">Horizen</span>
            </div>
        </a>

        <a href="#list-horizen-articles" data-toggle="collapse" class="d-none"></a>
        <div id="list-horizen-articles" class="articles list-topic-articles collapse" data-parent="#list-topics">

            <div style="height: 12px;"></div>

            <div class="d-none">
                <div>
                    {% assign current_level = "" %}
                    {% assign current_chapter = "" %}

                    {% for post in site.posts reversed %}

                    {% if post.topic != "horizen" %}
                    {% continue %}
                    {% endif %}

                    {% unless post.chapter %}
                    {% continue %}
                    {% endunless %}

                    {% if current_chapter != post.chapter or current_level != post.level %}
                    {% assign current_level = post.level %}
                    {% assign current_chapter = post.chapter %}
                </div>
            </div>

            {% capture chapter_index %}{% increment chapter_counter %}{% endcapture %}
            <div class="topic-articles level-{{current_level}}">

                <a href="#horizen-chapter-{{ chapter_index }}" data-toggle="collapse" class="arrow">
                    <img src="/assets/img/icons/arrows/arrow-down-grey.svg" alt="" class="arrow-down">
                    <img src="/assets/img/icons/arrows/arrow-up-green.svg" alt="" class="arrow-up">
                </a>

                {% if post.type == "intro" %}
                <a href="{{ post.url }}" class="chapter chapter-link">{{current_chapter }}</a>
                {% else %}
                <a href="#" data-target="#horizen-chapter-{{ chapter_index }}" class="chapter chapter-link chapter-collapse">{{current_chapter }}</a>
                {% endif %}

                <div id="horizen-chapter-{{ chapter_index }}" class="collapse chapter-articles" data-parent="#list-horizen-articles">
                    {% endif %}

                    {% if post.type == "article" %}
                    <a href="{{ post.url }}" class="article-link">{{ post.title }}</a>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>

            <div style="height: 12px;"></div>

        </div>

        <hr/>



        <div class="topic-history one-level-topic">
            <a href="{% post_url /history/2001-12-31-history %}" data-topic="history">
                <div class="topic history">
                    <span class="topic-name">History</span>
                </div>
            </a>
            <a href="#list-history-articles" data-toggle="collapse" class="arrow">
                <img src="/assets/img/icons/arrows/arrow-down-grey.svg" alt="" class="arrow-down">
                <img src="/assets/img/icons/arrows/arrow-up-green.svg" alt="" class="arrow-up">
            </a>
        </div>

        <div id="list-history-articles" class="articles one-level-topic-articles list-topic-articles collapse" data-parent="#list-topics">

            <div style="height: 12px;"></div>

            {% for post in site.posts reversed %}

            {% if post.topic != "history" or post.type != "article" %}
            {% continue %}
            {% endif %}

            <a href="{{ post.url }}" class="article-link">{{ post.title }}</a>

            {% endfor %}

            <div style="height: 12px;"></div>

        </div>



        <div class="topic-eli5 one-level-topic">
            <a href="#aa" data-topic="eli5">
                <div class="topic eli5">
                    <span class="topic-name">ELI5</span>
                </div>
            </a>
            <a href="#list-eli5-articles" data-toggle="collapse" class="arrow">
                <img src="/assets/img/icons/arrows/arrow-down-grey.svg" alt="" class="arrow-down">
                <img src="/assets/img/icons/arrows/arrow-up-green.svg" alt="" class="arrow-up">
            </a>
        </div>

        <div id="list-eli5-articles" class="articles one-level-topic-articles list-topic-articles collapse" data-parent="#list-topics">

            <div style="height: 12px;"></div>

            {% for post in site.posts reversed %}

            {% if post.topic != "eli5" or post.type != "article" %}
            {% continue %}
            {% endif %}

            <a href="{{ post.url }}" class="article-link">{{ post.title }}</a>

            {% endfor %}

            <div style="height: 12px;"></div>

        </div>

    </div>

</div>

<div class="bottom-links">
    <a href="#">FAQ</a>
    <a href="#">See all Content</a>
</div>
