
<div class="left-menu" id="left-menu">
    <div class="logo">
        <a href="{% tl homepage %}">
            <img src="/assets/img/Academy-logo.png" alt="" class="header-logo">
        </a>
    </div>

    <div class="article-nav" id="article-nav">
        <div class="levels">
            <div class="row no-gutters">
                <div class="col-4">
                    <a href="#" class="js-SelectLevel" data-level="beginner">
                        <div class="level beginner">
                            <div class="icon">
                                <img src="/assets/img/icons/levels/beginner-1.svg" alt="{% t levels.beginner %}" class="icon-inactive">
                                <img src="/assets/img/icons/levels/beginner-2.svg" alt="{% t levels.beginner %}" class="icon-active">
                            </div>
                            <div class="level-name">{% t levels.beginner %}</div>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#" class="js-SelectLevel" data-level="advanced">
                        <div class="level advanced">
                            <div class="icon">
                                <img src="/assets/img/icons/levels/advanced-1.svg" alt="{% t levels.advanced %}" class="icon-inactive">
                                <img src="/assets/img/icons/levels/advanced-2.svg" alt="{% t levels.advanced %}" class="icon-active">
                            </div>
                            <div class="level-name">{% t levels.advanced %}</div>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#" class="js-SelectLevel" data-level="expert">
                        <div class="level expert">
                            <div class="icon">
                                <img src="/assets/img/icons/levels/expert-1.svg" alt="{% t levels.expert %}" class="icon-inactive">
                                <img src="/assets/img/icons/levels/expert-2.svg" alt="{% t levels.expert %}" class="icon-active">
                            </div>
                            <div class="level-name">{% t levels.expert %}</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="topics" id="list-topics">
            <a
                    href="{{ site.baseurl }}{% post_url /technology/2022-12-30-tech %}"
                    class="js-SelectTopic" data-topic="technology"
                    data-url-beginner="{{ site.baseurl }}{% post_url /technology/beginner/2020-12-31-tech-beginner %}"
                    data-url-advanced="{{ site.baseurl }}{% post_url /technology/advanced/2021-12-31-tech-advanced %}"
            >
                <div class="topic technology">
                    <div class="icon">
                        <img src="/assets/img/icons/topics/technology-1.svg" alt="Technology" class="icon-inactive">
                        <img src="/assets/img/icons/topics/technology-2.svg" alt="Technology" class="icon-active">
                    </div>
                    <span class="topic-name">{% t topics.technology %}</span>
                </div>
            </a>

            <a href="#list-technology-articles" data-toggle="collapse" class="d-none"></a>
            <div id="list-technology-articles" class="articles list-topic-articles collapse" data-parent="#list-topics">

                <div style="height: 8px;"></div>

                <div class="d-none">
                    <div>
                        {% assign current_level = "" %}
                        {% assign current_chapter = "" %}

                        {% for post in site.posts reversed %}

                        {% if post.topic != "technology" %}
                        {% continue %}
                        {% endif %}

                        {% unless post.chapter %}
                        {% continue %}
                        {% endunless %}

                        {% if current_chapter != post.chapter or current_level != post.level %}
                        {% assign current_level = post.level %}
                        {% assign current_chapter = post.chapter %}
                    </div>
                </div>

                {% capture chapter_index %}{% increment chapter_counter %}{% endcapture %}
                <div class="topic-articles level-{{current_level}}">

                    <div class="chapter-dot"></div>
                    <a href="#technology-chapter-{{ chapter_index }}" data-toggle="collapse" class="arrow">
                        <img src="/assets/img/icons/arrows/arrow-down-grey.svg" alt="" class="arrow-down">
                        <img src="/assets/img/icons/arrows/arrow-up-green.svg" alt="" class="arrow-up">
                    </a>

                    {% if post.type == "intro" %}
                    <a href="{{ site.baseurl }}{{ post.url }}" class="chapter chapter-link">{{current_chapter }}</a>
                    {% else %}
                    <a href="#" data-target="#technology-chapter-{{ chapter_index }}" class="chapter chapter-link chapter-collapse">{{current_chapter }}</a>
                    {% endif %}

                    <div id="technology-chapter-{{ chapter_index }}" class="collapse chapter-articles" data-parent="#list-technology-articles">
                        {% endif %}

                        {% if post.type == "article" %}
                        <a href="{{ site.baseurl }}{{ post.url }}" class="article-link">{{ post.title }}</a>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>

                <div style="height: 8px;"></div>

            </div>

            <a
                href="{{ site.baseurl }}{% post_url /privacy/2025-12-30-privacy %}"
                class="js-SelectTopic" data-topic="privacy"
                data-url-beginner="{{ site.baseurl }}{% post_url /privacy/beginner/2023-12-31-privacy-beginner %}"
                data-url-advanced="{{ site.baseurl }}{% post_url /privacy/advanced/2024-12-31-privacy-advanced %}"
            >
                <div class="topic privacy">
                    <div class="icon">
                        <img src="/assets/img/icons/topics/privacy-1.svg" alt="Privacy" class="icon-inactive">
                        <img src="/assets/img/icons/topics/privacy-2.svg" alt="Privacy" class="icon-active">
                    </div>
                    <span class="topic-name">{% t topics.privacy %}</span>
                </div>
            </a>
            <a href="#list-privacy-articles" data-toggle="collapse" class="d-none"></a>
            <div id="list-privacy-articles" class="articles list-topic-articles collapse" data-parent="#list-topics">

                <div style="height: 8px;"></div>

                <div class="d-none">
                    <div>
                        {% assign current_level = "" %}
                        {% assign current_chapter = "" %}

                        {% for post in site.posts reversed %}

                        {% if post.topic != "privacy" %}
                        {% continue %}
                        {% endif %}

                        {% unless post.chapter %}
                        {% continue %}
                        {% endunless %}

                        {% if current_chapter != post.chapter or current_level != post.level %}
                        {% assign current_level = post.level %}
                        {% assign current_chapter = post.chapter %}
                    </div>
                </div>

                {% capture chapter_index %}{% increment chapter_counter %}{% endcapture %}
                <div class="topic-articles level-{{current_level}}">

                    <div class="chapter-dot"></div>
                    <a href="#privacy-chapter-{{ chapter_index }}" data-toggle="collapse" class="arrow">
                        <img src="/assets/img/icons/arrows/arrow-down-grey.svg" alt="" class="arrow-down">
                        <img src="/assets/img/icons/arrows/arrow-up-green.svg" alt="" class="arrow-up">
                    </a>

                    {% if post.type == "intro" %}
                    <a href="{{ site.baseurl }}{{ post.url }}" class="chapter chapter-link">{{current_chapter }}</a>
                    {% else %}
                    <a href="#" data-target="#privacy-chapter-{{ chapter_index }}" class="chapter chapter-link chapter-collapse">{{current_chapter }}</a>
                    {% endif %}

                    <div id="privacy-chapter-{{ chapter_index }}" class="collapse chapter-articles" data-parent="#list-privacy-articles">
                        {% endif %}

                        {% if post.type == "article" %}
                        <a href="{{ site.baseurl }}{{ post.url }}" class="article-link">{{ post.title }}</a>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>

                <div style="height: 8px;"></div>

            </div>


            <a
                    href="{{ site.baseurl }}{% post_url /horizen/2028-12-30-horizen %}"
                    class="js-SelectTopic" data-topic="horizen"
                    data-url-beginner="{{ site.baseurl }}{% post_url /horizen/beginner/2026-12-31-horizen-beginner %}"
                    data-url-advanced="{{ site.baseurl }}{% post_url /horizen/advanced/2027-12-31-horizen-advanced %}"
                    data-url-expert="{{ site.baseurl }}{% post_url /horizen/expert/2028-12-31-horizen-expert %}"
            >
                <div class="topic horizen">
                    <div class="icon">
                        <img src="/assets/img/icons/topics/horizen-1.svg" alt="Horizen" class="icon-inactive">
                        <img src="/assets/img/icons/topics/horizen-2.svg" alt="Horizen" class="icon-active">
                    </div>
                    <span class="topic-name">{% t topics.horizen %}</span>
                </div>
            </a>

            <a href="#list-horizen-articles" data-toggle="collapse" class="d-none"></a>
            <div id="list-horizen-articles" class="articles list-topic-articles collapse" data-parent="#list-topics">

                <div style="height: 8px;"></div>

                <div class="d-none">
                    {% assign current_level = "" %}
                    {% assign current_chapter = "" %}

                    {% for post in site.posts reversed %}

                    {% if post.topic != "horizen" %}
                    {% continue %}
                    {% endif %}

                    {% if current_level != post.level %}
                    {% assign current_level = post.level %}
                </div>
                <div class="topic-articles level-{{current_level}}">
                    {% endif %}

                    {% if post.type == "article" %}
                    <a href="{{ site.baseurl }}{{ post.url }}" class="article-link">{{ post.title }}</a>
                    {% endif %}

                    {% endfor %}
                </div>

                <div style="height: 8px;"></div>

            </div>
            <hr/>



            <div class="topic-history one-level-topic">
                <a href="{{ site.baseurl }}{% post_url /history/2001-12-31-history %}" class="js-SelectTopic" data-topic="history">
                    <div class="topic history">
                        <span class="topic-name">{% t topics.history %}</span>
                    </div>
                </a>
                <a href="#list-history-articles" data-toggle="collapse" class="arrow">
                    <img src="/assets/img/icons/arrows/arrow-down-grey.svg" alt="" class="arrow-down">
                    <img src="/assets/img/icons/arrows/arrow-up-green.svg" alt="" class="arrow-up">
                </a>
            </div>

            <div id="list-history-articles" class="articles one-level-topic-articles list-topic-articles collapse" data-parent="#list-topics">

                <div style="height: 8px;"></div>

                {% for post in site.posts reversed %}

                {% if post.topic == "history" and post.type == "article" %}
                <a href="{{ site.baseurl }}{{ post.url }}" class="article-link">{{ post.title }}</a>
                {% endif %}

                {% endfor %}

                <div style="height: 8px;"></div>

            </div>



            <div class="topic-eli5 one-level-topic">
                <a href="{{ site.baseurl }}{% post_url /eli5/2000-12-31-eli5 %}" class="js-SelectTopic" data-topic="eli5">
                    <div class="topic eli5">
                        <span class="topic-name">{% t topics.eli5 %}</span>
                    </div>
                </a>
                <a href="#list-eli5-articles" data-toggle="collapse" class="arrow">
                    <img src="/assets/img/icons/arrows/arrow-down-grey.svg" alt="" class="arrow-down">
                    <img src="/assets/img/icons/arrows/arrow-up-green.svg" alt="" class="arrow-up">
                </a>
            </div>

            <div id="list-eli5-articles" class="articles one-level-topic-articles list-topic-articles collapse" data-parent="#list-topics">

                <div style="height: 8px;"></div>

                {% for post in site.posts reversed %}

                {% if post.topic == "eli5" and post.type == "article" %}
                <a href="{{ site.baseurl }}{{ post.url }}" class="article-link">{{ post.title }}</a>
                {% endif %}

                {% endfor %}

                <div style="height: 8px;"></div>

            </div>



            <div class="topic-resources one-level-topic">
                <a href="{{ site.baseurl }}{% post_url /resources/2002-12-31-resources %}" class="js-SelectTopic" data-topic="resources">
                    <div class="topic resources">
                        <span class="topic-name">{% t topics.resources %}</span>
                    </div>
                </a>
                <a href="#list-resources-articles" data-toggle="collapse" class="arrow">
                    <img src="/assets/img/icons/arrows/arrow-down-grey.svg" alt="" class="arrow-down">
                    <img src="/assets/img/icons/arrows/arrow-up-green.svg" alt="" class="arrow-up">
                </a>
            </div>

            <div id="list-resources-articles" class="articles one-level-topic-articles list-topic-articles collapse" data-parent="#list-topics">

                <div style="height: 8px;"></div>

                {% for post in site.posts reversed %}

                {% if post.topic == "resources" and post.type == "article" %}
                <a href="{{ site.baseurl }}{{ post.url }}" class="article-link">{{ post.title }}</a>
                {% endif %}

                {% endfor %}

                <div style="height: 8px;"></div>

            </div>

        </div>

    </div>

    <div class="bottom-links">
        <!--<a href="#">FAQ</a>-->
        <a href="{% tl content-overview %}">{% t menu.see-all-content %}</a>
        <a class="toggle-languages text-uppercase" href="#">{{ site.lang }}</a>
    </div>
</div>

<div class="left-menu-overlay" id="left-menu-overlay"></div>
