
<div class="post-bottom-nav">

    <div class="skill-levels text-center d-block d-lg-none post-level-nav">
        <div class="row no-gutters">
            <div class="col-4">
                <a href="#" class="link-beginner disabled">
                    <div class="level beginner">
                        <div class="icon">
                            <img src="/assets/img/icons/levels/beginner-3.svg" alt="Beginner" class="icon-inactive">
                            <img src="/assets/img/icons/levels/beginner-4.svg" alt="Beginner" class="icon-active">
                        </div>
                        <div class="level-name">Beginner</div>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="#" class="link-advanced disabled">
                    <div class="level advanced">
                        <div class="icon">
                            <img src="/assets/img/icons/levels/advanced-3.svg" alt="Advanced" class="icon-inactive">
                            <img src="/assets/img/icons/levels/advanced-4.svg" alt="Advanced" class="icon-active">
                        </div>
                        <div class="level-name">Advanced</div>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="#" class="link-expert disabled">
                    <div class="level expert">
                        <div class="icon">
                            <img src="/assets/img/icons/levels/expert-3.svg" alt="Expert" class="icon-inactive">
                            <img src="/assets/img/icons/levels/expert-4.svg" alt="Expert" class="icon-active">
                        </div>
                        <div class="level-name">Expert</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col">
            <a href="#" class="link-article link-prev-article d-flex align-items-center disabled">
                <div class="nav-text text-left w-100">
                    <div class="font-weight-bold">Previous article</div>
                    <div class="article-title font-weight-light"></div>
                </div>
            </a>
        </div>
        <div class="col d-none d-lg-block post-level-nav">
            <div class="skill-levels text-center">
                <div class="row no-gutters">
                    <div class="col-4">
                        <a href="#" class="link-beginner disabled">
                            <div class="level beginner">
                                <div class="icon">
                                    <img src="/assets/img/icons/levels/beginner-3.svg" alt="Beginner" class="icon-inactive">
                                    <img src="/assets/img/icons/levels/beginner-4.svg" alt="Beginner" class="icon-active">
                                </div>
                                <div class="level-name">Beginner</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="link-advanced disabled">
                            <div class="level advanced">
                                <div class="icon">
                                    <img src="/assets/img/icons/levels/advanced-3.svg" alt="Advanced" class="icon-inactive">
                                    <img src="/assets/img/icons/levels/advanced-4.svg" alt="Advanced" class="icon-active">
                                </div>
                                <div class="level-name">Advanced</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="link-expert disabled">
                            <div class="level expert">
                                <div class="icon">
                                    <img src="/assets/img/icons/levels/expert-3.svg" alt="Expert" class="icon-inactive">
                                    <img src="/assets/img/icons/levels/expert-4.svg" alt="Expert" class="icon-active">
                                </div>
                                <div class="level-name">Expert</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <a href="#" class="link-article link-next-article d-flex align-items-center w-100 disabled">
                <div class="nav-text text-right w-100">
                    <div class="font-weight-bold">Next article</div>
                    <div class="article-title font-weight-light"></div>
                </div>
            </a>
        </div>
    </div>
</div>
