---
layout: default
type: intro
title: "ELI5"
description: "The Horizen Academy is a free educational platform on blockchain technology, cryptocurrency, and privacy. In this chapter, we explain blockchain and related topics in a simple and easily understandable way."
permalink: /eli5/
topic: eli5
---

<style>
  .site-content-wrapper {
    background: url({{site.baseurl_root}}/assets/img/bkg/bg-eli5-1.jpg) no-repeat bottom center;
    background-size: contain;
  }
  @media (max-width: 991px) {
    .site-content-wrapper > .container-fluid {
      background-size: 55% auto;
    }
  }
  .post-section .post-title {
    font-size: 2.5rem;
  }
  .welcome-text .lead {
    font-size: 1.2rem;
    font-weight: normal;
  }
  .eli5-article {
    margin-right: -5px;
    margin-left: -5px;
  }
  .eli5-article > div {
    padding-right: 5px;
    padding-left: 5px;
  }
  @media(min-width:1200px) {
    .eli5-article > .col-md-4 {
      max-width: 38%;
      flex: 0 0 38%;
    }
    .eli5-article > .col-md-8 {
      max-width: 62%;
      flex: 0 0 62%;
    }
  }
</style>

<div class="post-section js-PostContent" data-topic="{{page.topic}}" data-level="{{page.level}}" data-url="{{site.baseurl}}{{page.url}}">

    {% include search.html %}

    <div class="row align-items-center">
        <div class="col-md-6">
            <h2 class="post-title text-uppercase">{{ page.title }}</h2>
            <div class="welcome-text">
                <p class="lead">ELI5 - or Explain it Like I'm 5 - articles are meant to provide the shortest and easiest explanation of a topic.</p>
                <p>Using analogies and abstractions they should convince the basic idea behind a concept so that even children understand what is being talked about.</p>
                <p>We formulated them as questions and answered them as if a kid had asked them:</p>
            </div>
        </div>
        <div class="col-md-6">
            {% include blocks/youtube.html v="4C8KC-h2KfE" %}
        </div>
    </div>

    <div class="post-content mb-5 mb-md-0 mt-5">

        <div class="row list-eli5-articles">
            <div class="col-md-6">
                <div class="row mt-4 eli5-article">
                    <div class="col-md-4">
                        <a href="{{ site.baseurl }}{% post_url /eli5/2000-01-02-what-is-a-cryptocurrency %}">
                            <img src="{{site.baseurl_root}}/assets/post_files/eli5/intro/2CC.svg" alt="What is a Cryptocurrency?" />
                        </a>
                    </div>
                    <div class="col-md-8">
                      <a class="font-weight-bold" href="{{ site.baseurl }}{% post_url /eli5/2000-01-02-what-is-a-cryptocurrency %}"><h5 class="intro-article-title">What is a Cryptocurrency?</h5></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>






