---
layout: default
type: intro
title: "ELI5"
description: "The Horizen Academy is a free educational platform on blockchain technology, cryptocurrency, and privacy. In this chapter, we explain blockchain and related topics in a simple and easily understandable way."
permalink: /eli5/
topic: eli5
css: |
  .site-content-wrapper {
    background: url(/assets/img/bkg/bg-eli5-1.jpg) no-repeat bottom center;
    background-size: contain;
  }
  @media (max-width: 991px) {
    .site-content-wrapper > .container-fluid {
      background-size: 55% auto;
    }
  }
  .post-section .post-title {
    font-size: 2.5rem;
  }
  .welcome-text .lead {
    font-size: 1.2rem;
    font-weight: normal;
  }
  .eli5-article {
    margin-right: -5px;
    margin-left: -5px;
  }
  .eli5-article > div {
    padding-right: 5px;
    padding-left: 5px;
  }
  @media(min-width:1200px) {
    .eli5-article > .col-md-4 {
      max-width: 38%;
      flex: 0 0 38%;
    }
    .eli5-article > .col-md-8 {
      max-width: 62%;
      flex: 0 0 62%;
    }
  }
---

<div class="post-section js-PostContent" data-topic="{{page.topic}}" data-level="{{page.level}}" data-url="{{page.url}}">

    {% include search.html %}

    <div class="row align-items-center">
        <div class="col-md-6">
            <h2 class="post-title text-uppercase">{{ page.title }}</h2>
            <div class="welcome-text">
                <p class="lead">ELI5 - or Explain it Like I'm 5 - articles are meant to provide the shortest and easiest explanation of a topic.</p>
                <p>Using analogies and abstractions they should convince the basic idea behind a concept so that even children understand what is being talked about.</p>
                <p>We formulated them as questions and answered them as if a kid had asked them:</p>
            </div>
        </div>
        <div class="col-md-6">
            {% include blocks/youtube.html v="4C8KC-h2KfE" %}
        </div>
    </div>

    <div class="post-content mb-5 mb-md-0 mt-5">

        <div class="row list-eli5-articles">
            <div class="col-md-6">
                <div class="row mt-4 eli5-article">
                    <div class="col-md-4">
                        <a href="{{ site.baseurl }}{% post_url /eli5/2000-01-01-what-is-a-blockchain %}">
                            <img src="/assets/post_files/eli5/intro/1BC.svg" alt="What is a Blockchain?" />
                        </a>
                    </div>
                    <div class="col-md-8">
                        <h5 class="intro-article-title">What is a Blockchain?</h5>
                        <p class="mb-0">
                            <a class="font-weight-bold" href="{{ site.baseurl }}{% post_url /eli5/2000-01-01-what-is-a-blockchain %}">Read Article</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row mt-4 eli5-article">
                    <div class="col-md-4">
                        <a href="{{ site.baseurl }}{% post_url /eli5/2000-01-08-what-is-mining %}">
                            <img src="/assets/post_files/eli5/intro/6Min.svg" alt="What is Mining?" />
                        </a>
                    </div>
                    <div class="col-md-8">
                        <h5 class="intro-article-title">What is Mining?</h5>
                        <p class="mb-0">
                            <a class="font-weight-bold" href="{{ site.baseurl }}{% post_url /eli5/2000-01-08-what-is-mining %}">Read Article</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row mt-4 eli5-article">
                    <div class="col-md-4">
                        <a href="{{ site.baseurl }}{% post_url /eli5/2000-01-02-what-is-a-cryptocurrency %}">
                            <img src="/assets/post_files/eli5/intro/2CC.svg" alt="What is a Cryptocurrency?" />
                        </a>
                    </div>
                    <div class="col-md-8">
                        <h5 class="intro-article-title">What is a Cryptocurrency?</h5>
                        <p class="mb-0">
                            <a class="font-weight-bold" href="{{ site.baseurl }}{% post_url /eli5/2000-01-02-what-is-a-cryptocurrency %}">Read Article</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row mt-4 eli5-article">
                    <div class="col-md-4">
                        <a href="{{ site.baseurl }}{% post_url /eli5/2000-01-09-what-is-a-hash-function %}">
                            <img src="/assets/post_files/eli5/intro/7Hash.svg" alt="What is a Hash Function?" />
                        </a>
                    </div>
                    <div class="col-md-8">
                        <h5 class="intro-article-title">What is a Hash Function?</h5>
                        <p class="mb-0">
                            <a class="font-weight-bold" href="{{ site.baseurl }}{% post_url /eli5/2000-01-09-what-is-a-hash-function %}">Read Article</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row mt-4 eli5-article">
                    <div class="col-md-4">
                        <a href="{{ site.baseurl }}{% post_url /eli5/2000-01-03-what-is-the-benefit-of-cryptocurrencies %}">
                            <img src="/assets/post_files/eli5/intro/3Ben.svg" alt="What is the Benefit of Cryptocurrencies?" />
                        </a>
                    </div>
                    <div class="col-md-8">
                        <h5 class="intro-article-title">What is the Benefit of Cryptocurrencies?</h5>
                        <p class="mb-0">
                            <a class="font-weight-bold" href="{{ site.baseurl }}{% post_url /eli5/2000-01-03-what-is-the-benefit-of-cryptocurrencies %}">Read Article</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row mt-4 eli5-article">
                    <div class="col-md-4">
                        <a href="{{ site.baseurl }}{% post_url /eli5/2000-01-10-what-is-public-key-cryptography %}">
                            <img src="/assets/post_files/eli5/intro/8Key.svg" alt="What is Public-Key Cryptography?" />
                        </a>
                    </div>
                    <div class="col-md-8">
                        <h5 class="intro-article-title">What is Public-Key Cryptography?</h5>
                        <p class="mb-0">
                            <a class="font-weight-bold" href="{{ site.baseurl }}{% post_url /eli5/2000-01-10-what-is-public-key-cryptography %}">Read Article</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row mt-4 eli5-article">
                    <div class="col-md-4">
                        <a href="{{ site.baseurl }}{% post_url /eli5/2000-01-06-what-is-a-peer-to-peer-network %}">
                            <img src="/assets/post_files/eli5/intro/4P2P.svg" alt="What is a Peer-to-Peer Network?" />
                        </a>
                    </div>
                    <div class="col-md-8">
                        <h5 class="intro-article-title">What is a Peer-to-Peer Network?</h5>
                        <p class="mb-0">
                            <a class="font-weight-bold" href="{{ site.baseurl }}{% post_url /eli5/2000-01-06-what-is-a-peer-to-peer-network %}">Read Article</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row mt-4 eli5-article">
                    <div class="col-md-4">
                        <a href="{{ site.baseurl }}{% post_url /eli5/2000-01-04-what-is-a-wallet %}">
                            <img src="/assets/post_files/eli5/intro/9Wall.svg" alt="What is a Wallet?" />
                        </a>
                    </div>
                    <div class="col-md-8">
                        <h5 class="intro-article-title">What is a Wallet?</h5>
                        <p class="mb-0">
                            <a class="font-weight-bold" href="{{ site.baseurl }}{% post_url /eli5/2000-01-04-what-is-a-wallet %}">Read Article</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row mt-4 eli5-article">
                    <div class="col-md-4">
                        <a href="{{ site.baseurl }}{% post_url /eli5/2000-01-07-what-is-consensus %}">
                            <img src="/assets/post_files/eli5/intro/5Con.svg" alt="What is Consensus?" />
                        </a>
                    </div>
                    <div class="col-md-8">
                        <h5 class="intro-article-title">What is Consensus?</h5>
                        <p class="mb-0">
                            <a class="font-weight-bold" href="{{ site.baseurl }}{% post_url /eli5/2000-01-07-what-is-consensus %}">Read Article</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>






