
<div class="titles pt-5">
    <h3>Académie Horizen</h3>
    <p>Technologie blockchain <span>•</span> Confidentialité en ligne <span>•</span> Plateforme Horizen</p>
</div>

<div class="line"></div>

<div class="post-content">
    <p>
        Nous avons créé l'Académie Horizen dans le but central de partager nos connaissances et notre passion pour la technologie des blockchains et la cryptomonnaie avec tout le monde - quel que soit leur niveau de compétence.
        Par l'éducation, Horizen veut contribuer à l'adoption généralisée de cette importante technologie.
        Commencez à explorer nos articles éducatifs dès maintenant !
    </p>

    <hr class="mt-5 mb-5">

    <div class="section-how-it-works">
        <div class="row">
            <div class="col-md-6">
                <h3>Comment cela fonctionne-t-il ?</h3>
                <p>
                    La navigation sur le côté gauche vous permettra de passer d'un niveau à l'autre afin de trouver le contenu qui vous convient le mieux !
                    Plus le niveau est élevé, plus chaque partie de la blockchain est expliquée en détail et plus vous trouverez d'articles dans un chapitre.
                </p>
                <p>
                    Sélectionnez un sujet et un niveau pour commencer à apprendre !
                </p>
            </div>
            <div class="col-md-6 steps">
                <div class="row">
                    <div class="offset-3 col-6 mb-4 offset-md-0 col-md-4 mb-md-0">
                        <img src="{{site.baseurl_root}}/assets/post_files/home/1.svg" alt="" class="w-100" data-zoomable="no">
                        <h5>Choisissez un sujet</h5>
                    </div>
                    <div class="offset-3 col-6 mb-4 offset-md-0 col-md-4 mb-md-0">
                        <img src="{{site.baseurl_root}}/assets/post_files/home/2.svg" alt="" class="w-100" data-zoomable="no">
                        <h5>Sélectionnez votre niveau de compétence</h5>
                    </div>
                    <div class="offset-3 col-6 mb-4 offset-md-0 col-md-4 mb-md-0">
                        <img src="{{site.baseurl_root}}/assets/post_files/home/3.svg" alt="" class="w-100" data-zoomable="no">
                        <h5>Lire et apprendre</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="mt-5 mb-5">

    <div class="section-video">
        <h3>
            Vidéos
            <a href="https://www.youtube.com/channel/UCQ0v_lUnZHIKUQUXJzfgqOg" target="_blank" rel="noopener">Voir toutes les vidéos</a>
        </h3>
        <div class="row">
            <div class="col-md-4 mb-4">
                {% include blocks/youtube.html v="4C8KC-h2KfE" %}
                <h4>Blockchain and Cryptocurrency - Entry Level</h4>
            </div>
            <div class="col-md-4 mb-4">
                {% include blocks/youtube.html v="vH7gySKShps" %}
                <h4>Horizen Sidechains - Sidechain SDK Alpha Demo</h4>
            </div>
            <div class="col-md-4 mb-4">
                {% include blocks/youtube.html v="8Iiefz_vcCI" %}
                <h4>Horizen Sidechains - The Cross-Chain Transfer Protocol</h4>
            </div>
        </div>
    </div>

</div>
