.btn {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

.btn-info {
  background-color: #0e9de5;
  border-color: #0e9de5;
  &:hover, &:focus, &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active {
    background-color: #0a2561;
  }
}

img {
  max-width: 100%;
}

a {
  color: #0e9de5;
}

blockquote {
  border-left: 4px solid #a3e5ff;
  padding-left: 1rem;
  font-style: italic;
}

.table-layout-fixed {
  table-layout: fixed;
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
  .select2-selection__rendered {
    padding: 0 .75rem 0 0;
  }
}