.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


.btn {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

.btn-info {
  background-color: #0e9de5;
  border-color: #0e9de5;
  &:hover, &:focus, &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active {
    background-color: #0a2561;
  }
}

img {
  max-width: 100%;
}

a {
  color: #0e9de5;
}

blockquote {
  border-left: 4px solid #a3e5ff;
  padding-left: 1rem;
  font-style: italic;
}

.table-layout-fixed {
  table-layout: fixed;
}


@mixin list-blue-bullet() {
  list-style: none; /* Remove default bullets */
  li {
    &:before {
      content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: #0e9de5; /* Change the color */
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-left: -1em; /* Also needed for space (tweak if needed) */
    }
  }
}
