
#homepage {
  .intro {
    padding: 6rem 8rem;
    background: url(../img/bg-intro.jpg) no-repeat scroll top center;
    background-size: cover;
    h3 {
      text-align: center;
      color: #041742;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.8rem;
    }
    h1 {
      text-align: center;
      color: #041742;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 2.8rem;
      &:after {
        content: '';
        display: block;
        width: 100px;
        height: 5px;
        background: #19a2e6 linear-gradient(to right, #19a2e6, #4de0a3);
        margin: 2rem auto;
      }
    }
    .lead {
      font-weight: normal;
    }
  }
}
