body {
  font-family: $base-font-family;
  color: #041742;
  font-weight: $base-font-weight;
  padding-top: 56px;
}


html{ height:100%; }
body{ min-height:100%; position:relative; }
body::after{
  content:'';
  display:block;
  height: 265px;
  @media (max-width: 767px) {
    height: 315px;
  }
  @media (max-width: 575px) {
    height: 425px;
  }
}
.site-footer-wrapper{
  position:absolute;
  bottom:0;
  width:100%;
}



.navbar {
  //padding-top: 1.4rem;
  //padding-bottom: 0;
  background-color: #041742;
}
.navbar-brand {
  //padding-bottom: 0;
  //padding-top: 0;
  //margin-right: 0;
  //margin-top: -1.4rem;
}

#header-logo {
  height: 20px;
}

.nav-link {
  color: white;
  -webkit-transition: all 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
  transition: all 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);

  &:hover, &:focus, &:active {
    color: #0e9de5;
  }
}


.site-nav {
  &.headroom--not-top {
    //background-color: $h-dark-blue;
    // border-bottom: 1px solid transparent;
    //@include transition(all 0.3s ease-in-out);

    &.slideUp {
      box-shadow: none;
      @include transition(all 0.3s ease-in-out);
    }
    &.slideDown {
      box-shadow: 0 1px 12px 1px rgba(0,0,0,0.2);
      @include transition(all 0.3s ease-in-out);
    }
  }

  .dropdown-menu {
    background-color: #0a2561;
    border-radius: 0;
  }
  .dropdown-item {
    color: #0e9de5;
    padding: 10px 40px;
    &:focus, &:hover {
      color: white;
      background-color: #203768;
    }
  }
}


@media (min-width: 992px) {
  .navbar {
    padding-left: 0;
    & > .container-fluid {
      padding-left: 0;
    }
  }
  .navbar-brand {
    width: 300px;
    text-align: center;
    padding-right: 0;
    margin-right: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
  .navbar-expand-lg .navbar-nav .active .nav-link,
  .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #0e9de5;
  }

  .navbar-expand-lg .navbar-nav .nav-link.toggle-languages {
    background-color: rgba(14,157,229,0.4);
    border-radius: 100%;
    height: 45px;
    width: 45px;
    padding: 0;
    line-height: 45px;
    text-align: center;
    &:hover {
      background-color: #0a2561;
    }
  }
}

@media (max-width: 991px) {
  .navbar-brand {
    margin-top: 0;
  }
  .navbar {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  #header-navbars {
    margin-top: 1rem;
  }
  .navbar-toggler {
    border: none;
    img {
      width: 30px;
    }
    .icon-blue {
      display: none;
    }
    &.open {
      .icon-white {
        display: none;
      }
      .icon-blue {
        display: inline-block;
      }
    }
  }
}

#left-menu {
  background-color: #041336;
  background-image: linear-gradient(#041235, #0b245a);
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1050;
  .logo {
    background-color: #041742;
    padding: 16px 0;
    text-align: center;
    img {
      height: 20px;
    }
  }
  .bottom-links {
    padding: 12px;
    a {
      display: block;
      color: #3d6892;
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
}

#left-menu-overlay {
  display: none;
}

.site-wrapper {
  width: 100%;
  padding-left: 300px;
}

.site-content-wrapper {
}

.article-nav {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  height: calc(100% - 106px);
  a {
    color: #3d6892;
    &:hover, &:active, &.active, &.pre-active {
      color: white;
      text-decoration: none;
    }
  }
  hr {
    border-top-color: #092351;
  }

  .levels {
    .level {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 10px;
      img {
        width: 45%;
      }
      .icon-active {
        display: none;
      }
      .level-name {
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 13px;
        font-weight: 600;
      }
    }
    a:hover, .active {
      .level {
        .icon-inactive {
          display: none;
        }
        .icon-active {
          display: inline;
        }
      }
    }
  }

  .topics {
    .topic {
      background-color: #092351;
      text-align: center;
      margin-top: 4px;
      position: relative;
      padding: 12px 0;
      .icon {
        display: inline-block;
        width: 60px;
        text-align: center;
        position: absolute;
        left: 0;
        top: calc(50% - 20px);
      }
      img {
        height: 40px;
      }
      .icon-active {
        display: none;
      }
      .topic-name {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
      }
    }
    .one-level-topic {
      .topic {
        padding: 6px 10px;
        text-align: left;
      }
    }
    a:hover, .active, .pre-active {
      .topic {
        background-color: #123d70;
        .icon-inactive {
          display: none;
        }
        .icon-active {
          display: inline;
        }
      }
    }
    .one-level-topic {
      position: relative;
      .arrow {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        height: 36px;
        width: 36px;
        img {
          display: inline-block;
          position: absolute;
          left: 13px;
          top: 13px;
          transition: transform 500ms ease, opacity 500ms ease;
          width: 13px;
          max-width: none;
        }
        .arrow-down {
          opacity: 1;
          transform: rotate( 0deg );
        }
        .arrow-up {
          opacity: 0;
          transform: rotate( -180deg );
        }
      }
      & > .active + .arrow {
        .arrow-down {
          opacity: 0;
          transform: rotate( 180deg );
        }
        .arrow-up {
          opacity: 1;
          transform: rotate( 0deg );
        }
      }
    }
    .one-level-topic-articles {
      a {
        display: block;
        padding: 8px 0 8px 12px;
      }
    }
  }

  .list-topic-articles {
    background-color: #072454;
    a {
      color: #9bb9d3;
      &:hover, &.active {
        color: white;
      }
    }
    &#list-horizen-articles {
      .topic-articles {
        a {
          display: block;
          padding-top: 12px;
          padding-bottom: 12px;
        }
      }
    }
    .topic-articles {
      position: relative;
      padding-left: 28px;
      display: none;
      .chapter-dot {
        display: none;
        position: absolute;
        top: 18px;
        left: 10px;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: #9bb9d3;
      }
      .arrow {
        position: absolute;
        top: 17px;
        left: 8px;
        img {
          display: inline-block;
          position: absolute;
          left: 0;
          top: 0;
          transition: transform 500ms ease, opacity 500ms ease;
          width: 13px;
          max-width: none;
        }
        .arrow-down {
          opacity: 1;
          transform: rotate( 0deg );
        }
        .arrow-up {
          opacity: 0;
          transform: rotate( 180deg );
        }
      }
      &.show {
        display: block;
      }
      &.open {
        background-color: #123d70;
        .chapter {
          color: white;
        }
        .arrow {
          .arrow-down {
            opacity: 0;
            transform: rotate( -180deg );
          }
          .arrow-up {
            opacity: 1;
            transform: rotate( 0deg );
          }
        }
        .chapter-dot {
          background-color: #26db8d;
        }
      }

      .chapter {
        display: block;
        padding: 10px 0;
        font-weight: 600;
      }
      .chapter-articles {
        padding-left: 16px;
        a {
          display: block;
          padding: 8px 0;
          font-size: 15px;
          &:first-child {
            padding-top: 0;
          }
        }
      }

      &.one-article {
        .chapter-dot {
          display: block;
        }
        .arrow {
          display: none;
        }
      }
    }
  }
}


.footer-subscribe {
  background-image: linear-gradient(to right, #0e9de5 , #20cba3);
  padding-bottom: 1rem;
  padding-top: 2rem;
  .row {
    margin-right: -5px;
    margin-left: -5px;
    & > div {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}


.site-footer {
  background-color: #011031;
  color: #3d6892;
  padding-bottom: 3rem;
  padding-top: 3rem;
  a {
    color: #ccc;
  }
  p {
    margin-bottom: 0;
  }
}


.post-section {
  position: relative;
  padding: 4rem 6rem;
  @media (max-width: 1199px) {
    padding: 3rem 0 2rem;
  }
  @media (max-width: 991px) {
    padding: 3rem 2rem 2rem;
  }
  @media (max-width: 767px) {
    padding: 3rem 1rem 2rem;
  }
  @media (max-width: 575px) {
    padding: 3rem 0 2rem;
  }
  .search-box {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 38px;
    transition: width 0.5s ease-in-out;
    .input-search {
      border-radius: 38px;
      width: 100%;
      height: 38px;
      box-shadow: none;
      border: none;
      background-color: #f5f6fa;
      position: relative;
      z-index: 10;
    }
    .icon-search {
      position: absolute;
      right: 0;
      top: 0;
      width: 38px;
      z-index: 10;
      &.icon-blue {
        display: none;
      }
    }
    .searching, .no-result {
      text-align: center;
      font-style: italic;
    }
    .search-results {
      display: none;
      background: white;
      padding: 1rem 0;
      border: 1px solid #e5e5e5;
      position: absolute;
      top: 19px;
      right: 0;
      left: 0;
      max-height: 80vh;
      overflow-y: auto;
      z-index: 9;
      em {
        font-weight: 600;
        background: #c2eaff;
        font-style: normal;
      }
      a {
        text-decoration: none;
        color: #041742;
        display: block;
        border-bottom: 1px solid #e5e5e5;
        padding: 1rem;
        &:hover {
          background-color: #f5f5f5;
        }
      }
      h5 {
        margin-bottom: 0;
      }
      p {
        margin-bottom: 0;
      }
      .badge-topic {
        background-color: #041742;
        margin-right: 4px;
        text-transform: uppercase;
      }
      .badge-level {
        background-color: #0e9de5;
        text-transform: uppercase;
      }
    }
    &.active, &:hover {
      width: 50%;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
      .icon-search {
        &.icon-blue {
          display: block;
        }
        &.icon-grey {
          display: none;
        }
      }
      .search-results {
        display: block;
      }
    }
  }
  .post-title {
    font-weight: bold;
    text-transform: uppercase;
    &:after {
      content: '';
      display: block;
      width: 100px;
      height: 5px;
      background: #19a2e6 linear-gradient(to right, #19a2e6, #4de0a3);
      margin-top: 1.8rem;
      margin-bottom: 2rem;
    }
  }
  .post-content {
    line-height: 1.6;
    & > p:first-child, .lead {
      font-size: $font-text-size1;
      font-weight: normal;
      margin-bottom: 1.5rem;
    }
    .table.lead {
      td {
        border: 0;
        padding: 0;
        vertical-align: middle;
        &.icon {
          width: 100px;
          padding-right: 20px;
        }
      }
    }
    .lead-icon {
      @media (max-width: 767px) {
        width: 200px;
        margin-bottom: 1rem;
      }
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      &[src*="_M."] {
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
      &[src*="_D."] {
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
    h3 {
      margin-top: 3rem;
      margin-bottom: 1.5rem;
      font-weight: 600;
      font-size: 1.4rem;
    }
    h5 {
      font-size: 1.15rem;
      font-weight: bold;
      &.intro-article-title {
        @include media-breakpoint-down(sm) {
          margin-left: 6.5%;
          margin-top: 0.5rem;
        }
      }
    }
    ul:not(.nav) {
      @include list-blue-bullet();
    }
    .twitter-tweet {
      margin-left: auto;
      margin-right: auto;
      margin-top: 1.5rem !important; // override inline style
      margin-bottom: 1.5rem !important; // override inline style
    }
  }

  .further-reading-wrapper {
    h3 {
      margin-top: 3rem;
      margin-bottom: 1.5rem;
      font-weight: 600;
      font-size: 1.4rem;
    }
  }
  .further-reading {
    border: 1px solid #e5e5e5;
    margin-top: 2rem;
    a {
      color: #121F1F;
      text-decoration: none;
    }
    .title {
      margin-bottom: 0;
      font-size: 1.2rem;
      font-weight: bold;
      margin-top: 0;
    }
    .author {
      color: #888;
      font-size: 14px;
    }
    .summary {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .link {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #888;
      font-size: 12px;
    }
    .preview-img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      //background-size: contain;
      //background-position: center right;
    }
  }

  &[data-level='none'] {
    .post-level-nav {
      display: none !important;
    }
    .post-bottom-nav {
      .link-article {
        padding-top: .5rem;
        padding-bottom: .5rem;
      }
    }
  }
  .post-bottom-nav {
    margin-top: 4rem;
    margin-bottom: 3rem;
    a {
      color: #121F1F;
      &.disabled {
        pointer-events: none;
        color: #d2dbeb;
      }
    }
    .skill-levels {
      width: 100%;
      max-width: 300px;
      min-width: 288px;
      margin: 0 auto;
      @media (max-width: 991px) {
        margin-bottom: 1rem;
      }
      .level {
        margin-left: 3px;
        margin-right: 3px;
        border: 1px solid #e5e5e5;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        .level-name {
          text-transform: uppercase;
          margin-top: 0.75rem;
          font-weight: bold;
          font-size: 0.85rem;
        }
        img {
          width: 50%;
        }
        .icon-active {
          display: none;
        }
      }
      a {
        padding: 0;
        display: block;
        &:hover {
          color: #121F1F;
          text-decoration: none;
        }
      }
      a.active, a:hover {
        .icon-inactive {
          display: none;
        }
        .icon-active {
          display: inline-block;
        }
      }
    }
    .link-article {
      color: #121F1F;
      background-color: #f5f6fa;
      transition: color 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06), background-color 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
      height: 100%;
      @media (max-width: 991px) {
        padding-top: .5rem;
        padding-bottom: .5rem;
      }
      &:hover {
        text-decoration: none;
        color: white;
        background-color: #009ce8;
      }
      &.link-prev-article {
        margin-right: 3px;
        padding-left: 1.5rem;
        padding-right: 1rem;
      }
      &.link-next-article {
        margin-left: 3px;
        padding-right: 1.5rem;
        padding-left: 1rem;
      }
    }
  }
}

