body {
  padding-top: 55px;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
}

.navbar-toggler {
  padding: .25rem .15rem;
}

#header-logo {
  height: auto;
  width: 200px;
}

#left-menu {
  left: -350px;
  z-index: 100;
  overflow-y: auto;
  transition: left 0.5s ease-in-out;
  &.open {
    left: 0;
  }
}

.article-nav {
  height: auto;
  min-height: calc(100vh - 105px);
}

.site-wrapper {
  padding-left: 0;
}


#page-content-overview {
  .site-content-wrapper {
    width: 990px;
  }
}

