
#homepage {
  .site-content-wrapper {
    background: url(../img/bkg/bg-home-p1.jpg) no-repeat top right;
    @media (max-width: 991px) {
      background-size: 35% auto;
    }
    & > .container-fluid {
      background: url(../img/bkg/bg-home-p2.jpg) no-repeat bottom left;
      @media (max-width: 991px) {
        background-size: 50% auto;
      }
    }
  }
  .post-section {
    .titles {
      text-transform: uppercase;
      text-align: center;
      h3 {
        font-size: 2.5rem;
        font-weight: bold;
      }
      p {
        font-weight: 600;
      }
    }
    .line {
      display: block;
      width: 100px;
      height: 5px;
      background: #19a2e6 linear-gradient(to right, #19a2e6, #4de0a3);
      margin: 2rem auto;
    }
    .skill-levels {
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
      .level {
        margin-left: 3px;
        margin-right: 3px;
        border: 1px solid #e5e5e5;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        .level-name {
          text-transform: uppercase;
          margin-top: 0.75rem;
          font-weight: bold;
        }
        img {
          width: 50%;
        }
        .icon-active {
          display: none;
        }
      }
      a {
        color: #121F1F;
        &:hover {
          color: #121F1F;
          text-decoration: none;
        }
      }
      a.active, a:hover {
        .icon-inactive {
          display: none;
        }
        .icon-active {
          display: inline-block;
        }
      }
    }
  }
}


#page-eli5 {
  .site-content-wrapper {
    background: url(../img/bkg/bg-eli5-p1.jpg) no-repeat top left;
    & > .container-fluid {
      background: url(../img/bkg/bg-eli5-p2.jpg) no-repeat bottom right;
      @media (max-width: 991px) {
        background-size: 55% auto;
      }
    }
  }
  .post-section {
    .post-title {
      font-size: 2.5rem;
    }
  }
  .welcome-text {
    font-size: 1.2rem;
  }
  .list-eli5-articles {
    a {
      color: #041742;
      font-weight: bold;
    }
  }
}



#page-content-overview {
  .content-overview {
    .nav-item {
      flex-basis: 0;
      margin-left: 1px;
      margin-right: 1px;
    }
    .nav-link {
      color: #3f6a96;
      border-radius: 0;
      background-color: #f5f6fa;
      text-transform: uppercase;
      font-weight: bold;
      &.active, &:hover {
        background-color: #009ce8;
        color: white;
        //font-weight: normal;
      }
    }
    .icon-level {
      height: 50px;
      margin-right: 5px;
      display: inline-block;
    }
    .table {
      thead {
        th {
          vertical-align: middle;
          border-top: none;
        }
      }
    }
    .article-link {
      display: block;
      margin-top: 8px;
      margin-bottom: 8px;
      line-height: 1.2;
      &[data-type='intro']:first-child {
        display: none;
      }
      &[data-type='intro']:last-child {
        display: block;
      }
    }
  }
}


#page-technology, #page-privacy, #page-horizen {
  .post-section {
    .post-title {
      font-size: 2.5rem;
    }
  }
  .welcome-text {
    font-size: 1.2rem;
    ul {
      @include list-blue-bullet();
    }
  }
  .icon-level {
    height: 50px;
    margin-right: 5px;
    display: inline-block;
  }
  .table-levels {
    border-spacing: 16px 0;
    border-collapse: separate;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    td {
      border-left: 1px solid #f5f6fa;
      border-right: 1px solid #f5f6fa;
      padding: 0.6rem 1.2rem;
    }
    tr:first-child td {
      border-top: 1px solid #f5f6fa;
      padding-top: 1.2rem;
      padding-bottom: 0.6rem;
    }
    tr:last-child td {
      border-bottom: 1px solid #f5f6fa;
      background-color: #f5f6fa;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      ul {
        margin-bottom: 0;
        padding-left: 20px;
      }
    }
    a {
      text-decoration: none;
      color: #041742;
    }
  }
}

