.site-content-wrapper {
  background: url(../img/bkg/bg-home-p3.jpg) no-repeat top right;
  background-size: contain;
  & > .container-fluid {
    background: url(../img/bkg/bg-home-p4.jpg) no-repeat bottom left;
    background-size: contain;
  }
}
.academy-icon {
  width: 180px;
}
.post-section {
  .titles {
    text-transform: uppercase;
    text-align: center;
    h3 {
      font-size: 2.5rem;
      font-weight: bold;
    }
    p {
      font-weight: 600;
      span {
        color: #19a2e6;
      }
    }
  }
  .line {
    display: block;
    width: 100px;
    height: 5px;
    background: #19a2e6 linear-gradient(to right, #19a2e6, #4de0a3);
    margin: 2rem auto;
  }

  .section-how-it-works {
    h3 {
      margin-top: 0;
    }
    h5 {
      text-align: center;
      text-transform: uppercase;
      margin-top: 1rem;
      font-size: 1rem;
    }
    .steps {
      @media (min-width: 992px) {
        & > .row {
          margin-right: -25px;
          margin-left: -25px;
          & > div {
            padding-right: 25px;
            padding-left: 25px;
          }
        }
      }
    }
  }
  .section-video {
    h3 {
      a {
        font-size: 1rem;
        font-weight: normal;
        float: right;
      }
    }
    h4 {
      font-size: 1.15rem;
      font-weight: bold;
      margin-top: 0.5rem;
    }
  }
}
