.site-content-wrapper {
  background: url(../img/bkg/bg-home-p1.jpg) no-repeat top right;
  @media (max-width: 991px) {
    background-size: 35% auto;
  }
  & > .container-fluid {
    background: url(../img/bkg/bg-home-p2.jpg) no-repeat bottom left;
    @media (max-width: 991px) {
      background-size: 50% auto;
    }
  }
}
.post-section {
  .titles {
    text-transform: uppercase;
    text-align: center;
    h3 {
      font-size: 2.5rem;
      font-weight: bold;
    }
    p {
      font-weight: 600;
    }
  }
  .line {
    display: block;
    width: 100px;
    height: 5px;
    background: #19a2e6 linear-gradient(to right, #19a2e6, #4de0a3);
    margin: 2rem auto;
  }
  .skill-levels {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    .level {
      margin-left: 3px;
      margin-right: 3px;
      border: 1px solid #e5e5e5;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      .level-name {
        text-transform: uppercase;
        margin-top: 0.75rem;
        font-weight: bold;
      }
      img {
        width: 50%;
      }
      .icon-active {
        display: none;
      }
    }
    a {
      color: #121F1F;
      &:hover {
        color: #121F1F;
        text-decoration: none;
      }
    }
    a.active, a:hover {
      .icon-inactive {
        display: none;
      }
      .icon-active {
        display: inline-block;
      }
    }
  }
  .home-topics {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 1rem;
    .topic {
      border: 1px solid #0e9de5;
      text-align: center;
      margin-top: 4px;
      position: relative;
      padding: 12px 0;
      .icon {
        display: inline-block;
        width: 60px;
        text-align: center;
        position: absolute;
        left: 0;
        top: calc(50% - 20px);
      }
      img {
        height: 40px;
      }
      .topic-name {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
      }
    }
  }
}
