---
layout: compress
---

<!DOCTYPE html>
<html>

    {% include head.html %}

    {% capture page_id %}{% if page.permalink == '/' %}homepage{% else %}page-{{ page.permalink | slugify }}{% endif %}{% endcapture %}

    <body id="{{ page_id }}" class="lng-{{site.lang}}">

    {% include header.html %}

    {% include left-menu.html %}

    <div class="site-wrapper">
        <div class="site-content-wrapper">

            <div class="container-fluid">
                {{ content }}
            </div>

        </div>
    </div>

    <div id="full-screen-image-zoom" style="display: none;">
        <div class="zoom-controls">
            <div class="zoom-ctl zoom-in"></div>
            <div class="zoom-ctl zoom-out"></div>
            <div class="zoom-ctl zoom-close"></div>
        </div>
        <div class="panzoom zoom-close">
            <img src="http://mmeiers.github.io/pinch-zoomer-v2/getting_started/assets/1.jpg" alt="" id="full-zoom-image">
        </div>
    </div>

    {% include footer.html %}

    {% include language-sidebar.html %}

    <script type="text/javascript" src="{{ "/assets/js/scripts.js" | prepend: site.baseurl_root }}?{{site.time | date: '%s%N'}}"></script>

    </body>

</html>
