---
layout: default
---

<div class="post-section js-PostContent" data-topic="{{page.topic}}" data-level="{{ page.level | default: 'none' }}" data-url="{{page.url}}">

    {% include search.html %}

    <h2 class="post-title">{{ page.title }}</h2>

    <div class="post-content">
        {{ content }}
    </div>

    {% include post-bottom-nav.html %}

    {% if page.further_reads %}
    <div class="further-reading-wrapper">
        <h3>Further Reading</h3>

        {% for further_read in page.further_reads %}
            {% include further_reads/{{ further_read }}.md %}
        {% endfor %}
    </div>
    {% endif %}

</div>
